@media (max-width: 600px) {
 header{
        text-align: left;
    }

    nav ul {
        padding-top: 20px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}


body{
    background-color: black;
    background-image: url("New_Bkgrd.JPG");

}

header {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
}

header .logo img {
    max-height: 50px;
    src: url("/static/New_Bkgrd.JPG");
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 40px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
